:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --Accent: #e7e9fc;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --button-active: #404bbf;
  --white-text-color: #ffffff;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

P,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img{
  display: block;
}

body {
  background-color: var(--white-text-color);
  color: var(--text);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  display: inline-block;
}
/* ---------header------------ */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.container {
  width: 1440px;
  padding-left: 156px;
  padding-right: 156px;
  margin: 0 auto;
  outline: 1px solid red;
}
.header > .container {
  display: flex;
}
.header-navigation {
display: flex;
align-items: center;
margin-right: auto;

}
.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  
  
}
.header-list{
  gap: 40px;
  

}
.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
}
.header-logo-studio {
  color: #2e2f42;
 
}
.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.current {
  color: var(--primary-brand);
  margin 76px;
}

.header-item {
 
}
.header-link-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}
.header-link-mail:hover,
.header-link-mail:focus,
.header-link-tel:hover,
.header-link-tel:focus {
  color: #4d5ae5;
}
.header-link-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* -----------------first section web ------------- */
.section-effective {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;  
 }
.title-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
}
.button-btn {
  background: #4d5ae5;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  width: 169px;
  height: 56px;
  
  }

/* -------------------second section web-------------- */
.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two-list {
}
.section-two-item {
}
.title-three {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 32px;
  }
.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------three section web img ---------------- */
.section-what {
  padding-bottom: 120px;
  
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-what-list {
  gap: 24px;
}
.section-what-item {
  
}
.section-tim {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-tim-list {
  gap: 24px;
}
.section-tim-item {
}

/* --------------------------footer---------------- */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* ---------------------------section-portfolio------ */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-portfolio-list {
  gap: 24px;
  padding-top: 96px;
  padding-bottom: 72px;
  
}
.section-portfolio-item {
  
}
.section-portfolio-item-list {
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.section-portfolio-button:hover {
  background-color: #4d5ae5;
  color: #ffffff;
  min-width: 69px;
  height: 48px;
}

.section-portfolio-button {
  background: #f4f4fd;
  color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  width: 116px;
  height: 48px;
}
